*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
.br-nav-navbar .br-notif{
    background: rgba(255, 217, 0, 0.421);
    text-align: center;
    padding: 3px 0;
}
.br-nav-navbar .br-nav--navbar .br-navbar {
    background: rgba(167, 1, 167, 0.555);
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: space-between;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content{
    display: flex;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav{
    position: fixed;
    display: none;
    visibility: hidden;
    background: rgb(133, 134, 34);
    top: 0;
    left: 0;
    height: auto;
    width: 15%;
}

.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav .br-mobile-menu--nav{
    list-style-type: none;
    padding: 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.closebtn{
    color: #fff;
    margin: .5rem 1rem;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav .br-mobile-menu--nav .br-nav-item{
    display: block;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav .br-mobile-menu--nav .br-nav-item .br-mobile-link{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-family: 'Rochester', cursive;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav .br-mobile-menu--nav .br-nav-item .br-mobile-link:hover{
    color: rgb(182, 205, 50);
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile .br-mobile-content .br-menu-nav{
    font-size: 3rem;
}
.br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-logo{
    font-size: 2rem;
    margin-left: 16px;
    letter-spacing: -2px;
    font-family: 'Six Caps';

}
.br-nav-navbar .br-right-nav--content .br-web-nav--navbar{
    box-shadow: 4px 2px 7px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 10px 10px;
    width: auto;
    border-radius: 50px;
}
.br-nav-navbar .br-right-nav--content .br-web-nav--navbar .br-nav--navbar{
    list-style-type: none;
}
.br-nav-navbar .br-right-nav--content .br-web-nav--navbar .br-nav--navbar .br-nav{
    display: inline-block;
    margin-left: 5px;
}
.br-nav-navbar .br-right-nav--content .br-web-nav--navbar .br-nav--navbar .br-nav .br-nav-linker{
    text-decoration: none;
    color: black;
    border-radius: 50px;
    padding: 5px 10px;
}

.br-active-nav-link{
    background: rgba(255, 217, 0, 0.421);
}
@media only screen and (max-width: 980px){
    .br-right-nav--content{
        display: none;
    }
    .br-nav-navbar .br-nav--navbar .br-navbar .br-left-nav--content .br-mobile-nav{
        position: fixed;
        display: none;
        background: rgb(133, 134, 34);
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
}