
    <link rel="preconnect" href="https://rsms.me/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <section id="shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09">
      <div class="masonry-section">
                  <div class="ms-modal" id="ms-modal">
            <div class="modal-container-ms">
                <div class="contain-ms">
                    <div class="left-element-ms">
                      <div class="closeModal" >
                        <svg id="close-modal-ms" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15"><path fill="currentColor" d="M3.64 2.27L7.5 6.13l3.84-3.84A.92.92 0 0 1 12 2a1 1 0 0 1 1 1a.9.9 0 0 1-.27.66L8.84 7.5l3.89 3.89A.9.9 0 0 1 13 12a1 1 0 0 1-1 1a.92.92 0 0 1-.69-.27L7.5 8.87l-3.85 3.85A.92.92 0 0 1 3 13a1 1 0 0 1-1-1a.9.9 0 0 1 .27-.66L6.16 7.5L2.27 3.61A.9.9 0 0 1 2 3a1 1 0 0 1 1-1c.24.003.47.1.64.27Z"/></svg>
                    </div>
                    <div class="img_handler">
                        <img id="" class="modal-img" src="https://images.loox.io/uploads/2021/6/7/N17Kbo859.jpg" alt="">
                    </div>
                  </div>
                    <div class="text_handler">
                        <div class="user-info">
                            <div class="name">kiana b.</div>
                            <div class="purchase-info">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m6.7 19.3l-2.75-.6q-.375-.075-.6-.388q-.225-.312-.175-.687L3.45 14.8l-1.875-2.15q-.25-.275-.25-.65t.25-.65L3.45 9.2l-.275-2.825q-.05-.375.175-.687q.225-.313.6-.388l2.75-.6l1.45-2.45q.2-.325.55-.425q.35-.1.7.025l2.6 1.1l2.6-1.1q.35-.125.7-.025t.55.425L17.3 4.7l2.75.6q.375.075.6.388q.225.312.175.687L20.55 9.2l1.875 2.15q.25.275.25.65t-.25.65L20.55 14.8l.275 2.825q.05.375-.175.687q-.225.313-.6.388l-2.75.6l-1.45 2.45q-.2.325-.55.425q-.35.1-.7-.025l-2.6-1.1l-2.6 1.1q-.35.125-.7.025t-.55-.425Zm3.55-4.45q.275.275.7.275q.425 0 .7-.275l4.25-4.25q.3-.3.3-.713q0-.412-.3-.712t-.712-.3q-.413 0-.713.3L10.95 12.7L9.5 11.275q-.3-.275-.712-.263q-.413.013-.688.288q-.275.275-.275.7q0 .425.275.7Z"/></svg>
                                </span>
                                <div class="state">
                                    verified purchase
                                </div>
                            </div>
                        </div>
                        <div class="user-rating">
                            <div class="stars">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                            </div>
                            <div class="date">27/02/2022</div>
                        </div>
                        <p class="desc-text">love it use my bottle everyday</p>
                        <div class="modal-bottom-ms">
                            <div class="content_bottom">
                                <div class="pp">
                                    <img src="https://cdn.shopify.com/s/files/1/0026/6901/9199/products/GDB-1_590x_3545d20a-7362-40b2-bb56-d612f50aefda_x50.jpg?v=1638186325" alt="">
                                    <p class="desc-title">gold drop bottle</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    <div class="gridd">
        {% for block in section.blocks %}
        <div class="content-ms flow-ms" id="pop1">
            <img id="cardImg" class="card-img"src="
              {% if block.settings.card-img != blank  %}
                {{ block.settings.card-img | img_url : "master" }}
              {% else %}
                https://images.loox.io/uploads/2021/6/7/N17Kbo859.jpg
              {% endif %}
              " alt="">
           
            <div class="desc">
                <div class="top-content">
                    <div class="author">{{ block.settings.author }}</div>
                <p class="posted_date">{{ block.settings.reviewed-date }}</p>
                <div class="stars">
                  {% if block.settings.rate-star != blank %}
                    {{ block.settings.rate-star }}
                   {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27z"/></svg>
                    {% endif %}
                    </div>
                <p class="desc-text">{{ block.settings.content-text }}</p>
                </div>
                <div class="content_bottom">
                    <div class="pp">
                        <img src="{% if block.settings.card-img != blank  %}
                              {{ block.settings.card-img | img_url : "master" }}
                            {% else %}
                              https://images.loox.io/uploads/2021/6/7/N17Kbo859.jpg
                            {% endif %}"
                        alt="" class="bot-img">
                        <p class="desc-title">{{ block.settings.card-title }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="show-more">
        <button class="show-more-btn">show more reviews</button>
    </div>

      </div>
    </section>
          {% schema %}
  {
    "name": "Reviews section",
    "settings": [],
    "tag": "section",
    "blocks": [
    {
      "type": "review",
      "name": "card review",
      "settings": [
        {
          "type": "text",
          "id": "content-text",
          "label": "type card text here",
          "default": "a descriptive text for the card image "
        },
        {
          "type": "image_picker",
          "id": "card-img",
          "label": "add an image to the card"
          },
        {
          "type": "text",
          "id": "author",
          "label": "add author name",
          "default": "Tonniyc adam"
        },
        {
          "type": "text",
          "id": "card-title",
          "label": "add a title to the card",
          "default": "a bottle of aloes vera sliced"
        },
        {
          "type": "text",
          "id": "reviewed-date",
          "label": "Set review date ",
          "default": "12/12/2022"
        },
        {
          "type": "html",
          "id": "rate-star",
          "label": "add svg rate star"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "review section",
      "blocks": [
        {
            "type": "review"
        }
      ]
    }
  ]
  }
{% endschema %}
<style>
  :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09 .masonry-section .gridd {
    --gap: 1em;
    --columns: 6;
    max-width: 80%;
    margin: 0 auto;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
  }

/* /*  */
/*   fin */
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  {
    height: fit-content;
    position: relative;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
  }
  
  @supports (grid-template-rows: masonry) {
    #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry;
      grid-auto-flow: row;
      align-tracks: stretch;
    }
  
    #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd > * {
      margin-bottom: 0em;
    }
  }
  
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .featured {
    grid-column: span 2;
  }
  

  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section{
    position: relative;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
/* p{
  font-size: 11px;
  color: #6d6d6d;
} */
  
  
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
    font-weight: 300;
    line-height: 1;
    opacity: 0.2;
  }
  
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .flow-ms > * + * {
    margin-top: var(--flow-space, var(--spacer));
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .content-ms{
    border-radius: 4%;
    display: none;
    width: fit-content ;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .content-ms::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #6d6d6d;
    opacity: 0.3;
    display: none;
    background-position: bottom center;
    background-size: cover;
    z-index: 1;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .content-ms:hover::before{
    display: block;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .posted_date{
    font-size: 11px;
    color: #6d6d6d;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .author{
    font-size: 18px;
    font-weight: 500;
  }
  
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09   .bot-img{
    height: 50px;
    width: 50px;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .pp .desc-title{
    font-size: 12px;
    color: #333333;
    margin-top: 0;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .desc-text{
    color: #333333;
    font-size: 14px;
 }
 #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .top-content{
    padding: 5px 7px;
 }
 #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .content_bottom .pp{
    border-top: 1px solid #a5a5a5;
    padding: 5px 7px;
    display: flex;
    justify-content: space-evenly;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section a {
    color: var(--clr-primary);
  }
  
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .card-img{
    height: auto;
    border-top-left-radius: 5%;
    object-fit: cover;
    border-top-right-radius: 5%;
    width: 100%;
  }
  
  
  
  @media screen and (max-width: 1500px) {
    #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd{
          --columns: 5;
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
      
    margin: 0 auto;
    max-width: 80%;
      align-tracks: stretch;
      }
  }
  @media screen and (min-width: 1501px ){
    #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd {
      --columns: 6;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
      max-width: 80%;
      align-tracks: stretch;
    }
  }
  @media screen and (max-width: 1330px) {
    #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd{
        --columns: 4;
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
    margin: 0 auto;
    max-width: 80%;
      align-tracks: stretch;
    }
}
@media screen and (max-width: 1000px) {
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd{
      --columns: 3;
      gap: 16px;
    display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
    margin: 0 auto;
    max-width: 80%;
      align-tracks: stretch;
  }
}
@media screen and (max-width: 700px) {
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd{
    max-width: 95%;
      --columns: 2;
    display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
      gap: 16px;
    margin: 0 auto;
    max-width: 80%;
      align-tracks: stretch;
  }
}
@media screen and (max-width: 500px) {
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .gridd{
      --columns: 2;
    display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry-section;
      grid-auto-flow: row;
      gap: 16px;
    margin: 0 auto;
    max-width: 80%;
      align-tracks: stretch;
  }
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .desc .stars{
  font-size: 14px;
  color: #FFAF9B;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .desc .stars svg:first-child{
  margin-left: 0px;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .desc .stars svg{
  margin-left: -6px;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .ms-modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  transition: all 2s;
  left: 0;
  cursor: default;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.664);
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms{
  margin: 15rem auto;
  height: fit-content;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms .contain-ms{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1px, auto);
  position: relative;
  width: fit-content;
  justify-content: center;
  height: fit-content;
  /* background: #efc; */
}
@media only screen and (max-width: 769px){
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms{
    width: fit-content;
    margin: 5rem auto;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-bottom-ms{
    height: auto !important;
    margin-top: auto;
  }
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .ms-modal .modal-container-ms .contain-ms{
    grid-template-columns: repeat(1, 1fr);
  }
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .closeModal{
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms .contain-ms .img_handler{
  
  padding: 0 2rem;
  background: #000000;
  height: 450px;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms .contain-ms .img_handler img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-container-ms .contain-ms .text_handler{
  
  margin: 15px ;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-info{
  display: flex;
  justify-content: space-between;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-info .name{
  text-transform: capitalize;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-info .purchase-info{
  display: flex;
  align-items: center;
  vertical-align: center;
  font-size: 12px;
  color: #6d6d6d;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-rating{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-rating .date{
  font-size: 14px;
  color: #6d6d6d;

}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .user-rating .stars{
  font-size: 20px;
  color: #FFAF9B;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .text_handler .desc-text{
  font-size: 16px;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-bottom-ms{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: end;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .modal-bottom-ms  .content_bottom .pp .desc-title{
  font-size: 16px;
  padding: 5px 7px;
  font-weight: 500;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .show-more{
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .show-more-btn{
  padding: 5px 16px;
  border: 1px solid #000000;
  background: transparent;
  border-radius: 5px;
}
  #shopify-section--template--15986998902956__2279f42a-7ff8-401d-bf10-b49f1fe37c09  .masonry-section .show-more-btn:hover{
    transition: all .5s;
      color: #fff;
    background: #000000;
  }
</style>
<script>
  

let card = $("#pop1")
let modal = $("#ms-modal")
card.click(() => {
  console.log("elemen")
    modal.css({"display": "block"})
})
let closebtn = $(".closeModal")
closebtn.click(() => {
    modal.hide()
})

modal.click(() => {
    console.log(modal)
    modal.hide()
})

$(function () {
    $(".content-ms").slice(0, 6).show();
    $("body").on('click touchstart', '.show-more-btn', function (e) {
        e.preventDefault();
        $(".content-ms:hidden").slice(0, 6).fadeIn();
        if ($(".content-ms:hidden").length == 0) {
            $(".show-more-btn").css('visibility', 'hidden');
        }
    });
});
</script>
