:root {
    --swiper-theme-color: #000000;
}
.wrapper{
        position: relative;
        height: 70vh;
        margin: 0 auto;
        max-width: 1200px;
      }

      

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-handler .card .img-handler{
        width: 208px;
        height: 208px;
        overflow: hidden;
        position: relative;
        border-radius: 40px;
      }
      .card-handler .card{
        position: absolute;
      }
      .card-handler .card .img-handler img{
        object-fit: cover;
        background-position: center center;
      }
      .card-handler .card .bottom-container{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 42px;
        background: rgba(0, 0, 0, 0.253) ;
        bottom: 0;
      }
      .card-handler .card .bottom-container .content{
        bottom: 0;
        margin-top: 70%;
        color: #fff;
      }
      .stars{
        font-size: 11px;
      }
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-next.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}