:root {
    --swiper-theme-color: #000000;
}
.wrapper{
        position: relative;
        height: 70vh;
        min-width: 1200px;
        margin: 0 auto;
      }

      

      .swiper {
        width: 100%;
        height: 70%;
      }
      

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      @media only screen and (max-width: 769px){
        .swiper-slide{
            max-width: 25%;
        }
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .card-handler{
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .card-handler .card .img-handler{
        min-width: 208px;
        height: 208px;
        overflow: hidden;
        position: relative;
        border-radius: 40px;
      }
      .card-handler .card{
        position: absolute;
      }
      .card-handler .card .img-handler img{
        object-fit: cover;
        background-position: center center;
      }
      .card-handler .card .bottom-container{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 42px;
        background: rgba(0, 0, 0, 0.253) ;
        bottom: 0;
      }
      .card-handler .card .bottom-container .content{
        bottom: 0;
        margin-top: 70%;
        color: #fff;
      }
      .content .name{
        font-weight: 500;
        font-size: 18px;
      }
      .stars{
        font-size: 11px;
      }
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}
:is(.swiper-button-next, .swiper-button-prev){
    margin-top: 64px;
    font-size: 32px;
    position: absolute;
    z-index: 9 !important;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 4px 2px 7px 1px rgb(0 0 0 / 20% )

}
:is(.swiper-button-next, .swiper-button-prev)::after{
    
    font-size: 32px;

}
.swiper-button-next.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}