.bs-prod-step-wrapper{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 10%;
    /* width: 100%; */
    /* align-items: center; */
}
.step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.step .step-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step img {
    height: 46px;
    width: 46px;
}
.step .step-info{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.step .plusSvg{
    font-size: 24px;
}
.step .step-info .step-price{
    margin-top: -12px;
}

.step:last-child .branch {
    padding-right: 5px;
    background: url("https://cdn.julesjenn.com/assets/fourcheb.png") no-repeat 0;
    background-size: contain;
    height: 25%;
    
    display: flex;
    flex-direction: column;
    gap: 34px;
    position: absolute;
}
.step:last-child .branch .step-content{
    margin-left: 32px;
}
.step:last-child .branch .step-content .step-info{
    margin-top: -16px;
}
@media only screen and (max-width: 860px){
    .step:nth-child(4) .plusSvg{
        position: absolute;
        top: 100%;
        left: 33%;
        transform: rotate(90deg);
    }
    .step:nth-child(4){
        position: absolute;
        top: 30%;
        left: 39%;
    }
    .step:last-child{
        left: 0;
    }
    .step:last-child .branch {
        background: url("https://cdn.julesjenn.com/assets/fourcheb.png") no-repeat 0;
        background-size: contain;
        height: 55%;
        /* position: absolute; */
        
        transform: rotate(90deg);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        bottom: 15%;
        left: 32%;
    }
    .step:last-child .branch .step-content{
        transform: rotate(-90deg);
        margin-left: 72px;
    }
}
@media only screen and (max-width: 600px){
    .step:nth-child(4) .plusSvg{
        position: absolute;
        transform: rotate(90deg);
        bottom: 20%;
        left: 50%;
    }
    
    .step:nth-child(4){
        position: absolute;
        top: 25%;
        left: 5;
    }
    .step:last-child{
        left: 0;
    }
    .step:last-child .branch {
        background: url("https://cdn.julesjenn.com/assets/fourcheb.png") no-repeat 0;
        background-size: contain;
        height: 55%;
        
        gap: 100px;
        transform: rotate(90deg);
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        bottom: 19%;
        left: 5;
    }
    .step:last-child .branch .step-content{
        transform: rotate(-90deg);
        /* margin-left: 72px; */
    }
}

@media only screen and (min-width: 300px){
    .step:nth-child(4) .plusSvg{
        position: absolute;
        transform: rotate(90deg);
        bottom: 20%;
        left: 50%;
    }
    
    .step:nth-child(4){
        position: absolute;
        top: 30%;
        left: 39%;
    }
    .step:last-child{
        left: 0;
    }
    .step:last-child .branch {
        background: url("https://cdn.julesjenn.com/assets/fourcheb.png") no-repeat 0;
        background-size: contain;
        height: 55%;
        
        gap: 100px;
        transform: rotate(90deg);
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        bottom: 10%;
        left: 25%;
    }
    .step:last-child .branch .step-content{
        transform: rotate(-90deg);
        margin-left: 72px;
    }
}