:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.grid {
    --gap: 1em;
    --columns: 6;
    max-width: 80%;
    margin: 0 auto;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
  }
  
  .grid > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
  }
  
  @supports (grid-template-rows: masonry) {
    .grid {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry;
      grid-auto-flow: row;
      align-tracks: stretch;
    }
  
    .grid > * {
      margin-bottom: 0em;
    }
  }
  
  .featured {
    grid-column: span 2;
  }
  

  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
/* p{
  font-size: 11px;
  color: #6d6d6d;
} */
  
  
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
    font-weight: 300;
    line-height: 1;
    opacity: 0.2;
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, var(--spacer));
  }
  .content{
    border-radius: 4%;
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 20%);
  }
  .content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #6d6d6d;
    opacity: 0.3;
    display: none;
    background-position: bottom center;
    background-size: cover;
    z-index: 1;
  }
  .content:hover::before{
    display: block;
  }
  .posted_date{
    font-size: 11px;
    color: #6d6d6d;
  }
  .author{
    font-size: 18px;
    font-weight: 500;
  }
  .pp .desc-title{
    font-size: 12px;
    color: #333333;
    margin-top: 0;
  }
 .desc-text{
    color: #333333;
    font-size: 14px;
 }
 .top-content{
    padding: 5px 7px;
 }
  .content_bottom .pp{
    border-top: 1px solid #a5a5a5;
    padding: 5px 7px;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    color: var(--clr-primary);
  }
  
  .card-img{
    height: auto;
    border-top-left-radius: 5%;
    object-fit: cover;
    border-top-right-radius: 5%;
    width: 100%;
  }
  
  
  
  
  
  @media screen and (max-width: 1500px) {
      .grid{
          --columns: 5
      }
  }
  @media screen and (max-width: 1330px) {
    .grid{
        --columns: 4
    }
}
@media screen and (max-width: 1000px) {
  .grid{
      --columns: 3
  }
}
@media screen and (max-width: 700px) {
  .grid{
      --columns: 2
  }
}
@media screen and (max-width: 500px) {
  .grid{
      --columns: 1
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.664);
}
.modal-container{
  margin: 15rem auto;
  height: fit-content;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.modal-container .contain{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1px, auto);
  position: relative;
  width: fit-content;
  justify-content: center;
  height: fit-content;
  /* background: #efc; */
}
@media only screen and (max-width: 769px){
  .modal-container{
    width: fit-content;
    margin: 5rem auto;
  }
  .modal-bottom{
    height: auto !important;
    margin-top: auto;
  }
  .modal .modal-container .contain{
    grid-template-columns: repeat(1, 1fr);
  }
}
.closeModal{
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
}
.modal-container .contain .img_handler{
  
  padding: 0 2rem;
  background: #000000;
  height: 450px;
}
.modal-container .contain .img_handler img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-container .contain .text_handler{
  
  margin: 15px ;
}
.text_handler .user-info{
  display: flex;
  justify-content: space-between;
}
.text_handler .user-info .name{
  text-transform: capitalize;
}
.text_handler .user-info .purchase-info{
  display: flex;
  align-items: center;
  vertical-align: center;
  font-size: 12px;
  color: #6d6d6d;
}
.text_handler .user-rating{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.text_handler .user-rating .date{
  font-size: 14px;
  color: #6d6d6d;

}
.text_handler .user-rating .stars{
  font-size: 20px;
  color: #FFAF9B;
}
.text_handler .desc-text{
  font-size: 16px;
}
.modal-bottom{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: end;
}
.modal-bottom  .content_bottom .pp .desc-title{
  font-size: 16px;
  padding: 5px 7px;
  font-weight: 500;
  display: flex;
  align-items: end;
  justify-content: space-between;
}