:root {
    --swiper-theme-color: #000000;
}
.wrappercard{
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
      }

      

      .wrappercard .swiper {
        width: 100%;
        height: 100%;
      }
      

      .wrappercard .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      /* @media only screen and (max-width: 769px){
        .swiper-slide{
            max-width: 25%;
        }
      } */
      .wrappercard .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .wrappercard .card-handler{
        display: flex;
        justify-content: center;
        border-radius: 0px;
        width: 100%;
      }
      .wrappercard .card-handler .card .img-handler{
        height: 50%;
        background: teal;
        
      }
      .wrappercard .card-handler .card{
        overflow: hidden;
        height: 500px;
        width: 300px;
        box-shadow: 2px 4px 7px rgb(0 0 0 / 20% );
        border-radius: 20px;
      }
      .wrappercard .card-handler .card .img-handler img{
        height: 100%;
        object-fit: cover;
      }
      .wrappercard .card-handler .card .bottom-container{
        height: 200px;
       position: relative;
       background: #fff;
      }
      .wrappercard .card-handler .card .bottom-container .content{
        position: relative;
        padding: 0 1rem;
      }
      .wrappercard .content .testimony{
        font-size: 18px;
      }
      .wrappercard .content .name{
        position: relative;
        margin-top: 40px;
        font-weight: 500;
        font-size: 24px;
      }
      .wrappercard .stars{
        font-size: 22px;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        border-radius: 16px;
        top: -4rem;
        margin: 0 auto;
        width: 60%;
        color: #ffaf9b;
        background: rgb(255, 255, 255);
        box-shadow: 3px 2px 4px rgb(0 0 0 / 20% );
        padding: .7rem .5rem;
      }
      .wrappercard .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}
.wrappercard :is(.swiper-button-next, .swiper-button-prev){
    margin-top: 64px;
    font-size: 32px;
    position: absolute;
    z-index: 9 !important;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 4px 2px 7px 1px rgb(0 0 0 / 20% )

}
.wrappercard :is(.swiper-button-next, .swiper-button-prev)::after{
    font-weight: bold;
    font-size: 18px;

}
.wrappercard .swiper-button-next.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}